
  .w3-theme {color:#fff !important; background-color:#3F2A56!important}
  .w3-text-theme {color:#3F2A56 !important}
  .icon{
    background-color: #FFF;
    color: #3F2A56;
    width: 60px;
    height: 60px;
    font-size: 85px;
    padding: 15px;
    text-size-adjust: 70px;
    margin: 20px;
  }
